@import "../../../global/variables.scss";

.PostItem {
    padding: 12px;
    margin-top: 12px;
    background-color: #ffffff;
    border-radius: 10px;
    -webkit-animation: fading .5s;
    animation: fading .5s;

    .AvatarSection {
        display: flex;
        a {
            margin-left: 10px;
            margin-top: 15px;
            color: #000000;
            font-weight: bold;
        }

        img {
            width: 50px;
            height: 50px;
            border-radius: 100%;
        }
    }

    a {
        color: $primary-color;
    }

    img.PostImg {
        width: 100%;
        height: 500px;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .PostContent {
        margin-top: 10px;
        padding: 5px;        
    }

    .PostLinks {
        button {
            i {
                padding: 0;
                text-decoration: none;
                padding-top: 2px;
                margin-right: 5px;
            }

            span {
                position: relative;
                top: -5px;
            }
        }
    }
}

@media (max-width:600px) {
    .PostItem {
        .PostContent {
            img {
                height: 250px;
            }
        }
    }
}